@import "tailwindcss";

/* Hide scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* IE / old Edge */
body {
    -ms-overflow-style: none;
}

@font-face {
  font-family: font1;
  src: url('./assets/fonts/Lausanne-300.woff2');
}
@font-face {
  font-family: font2;
  src: url('./assets/fonts/Lausanne-500.woff2');
}
.moveX {
  display: flex;
  width: max-content;
  animation: marquee 12s linear infinite;
  will-change: transform;
}

@keyframes marquee {
  from {
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(-50%,0,0);
  }
}
